
1. 피타고라스 수


a + b + c = 1000 인 피타고라스 수를 구하시오.

In [1]:
for a in range(1,333):
    for b in range(a+1,500):
        c = 1000 - a - b
        if c*c == a*a + b*b:
            print(a, b, c)

200 375 425

In [2]:
[(a, b, c) for a in range(1,333)
               for b in range(a+1,500)
                   for c in range(b+1, 1000)
                       if a+b+c==1000 and a*a + b*b == c*c]

[(200, 375, 425)]

2. 만 나이
본인의 생일을 1998 12 15 과 같이 년 월 일로 입력받아 오늘 날짜의 만 나이를 구하는 프로그램을 작성하시오.

In [4]:
from datetime import date
today = date.today()

In [ ]:
year, month, day = map(int, input('생일 입력'.split()))
year, month, day

In [ ]:
if month > today,month:
    age = today.year - year - 1
elif month < today.month:
    age = today.year - year
else:
    if day > todya.day:
        age = today.year - year
    else:
        age = today.year - year
print(f'만 나이는 {age} 입니다.')

3. 디지털 시계
디지털 시계에 하루동안(00:00~23:59) 3이 표시되는 시간을 초로 환산하면 총 몇 초(second)일까요?

- 디지털 시계는 하루동안 다음과 같이 시 분(00:00~23:59)으로 표시됨

In [ ]:
total_seconds = 0
for hour in range(24):
    for min in range(60):
        display = f'{hour:02d}:{min:02d}'
        if '3' in display:
            total_seconds += 60
print(total_seconds)